<?xml version="1.0" encoding="UTF-8"?><configuration> <system.webServer>  <handlers>    <add name="httpPlatformHandler" path="*" verb="*"   modules="httpPlatformHandler" resourceType="Unspecified" />  </handlers>  <httpPlatform processPath="%JAVA_HOME%\bin\java.exe" arguments="-Dserver.servlet.context-path=/app1 -Djava.net.preferIPv4Stack=true -Dserver.port=%HTTP_PLATFORM_PORT% -jar &quot;%HOME%\site\wwwroot\app1\app.jar&quot;"      stdoutLogEnabled="true"       startupRetryCount='10'>  </httpPlatform> </system.webServer></configuration>